*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
/*header*/

header {
  background-color: #070e16;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 60px;
  margin-left:50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff0000;
}
.reservations{
  background-image: url("12.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}
 .reservations {
   padding: 0px 0;
  text-align: center;
}
.reservation-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
 background-size: cover;
  background-position: center;
  display: inline-block;
}

.reservation-form h2 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

.reservation-form form input,
.reservation-form form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: none;
  align-items: stretch;
}

.reservation-form form button {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.reservation-form form button:hover {
  background-color: #e60000;
}


